extends layout

block content

 h1 #{title}

  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2
        form(method='post' action='')
          div.form-group
            label(for='genre_name') Genre:
            input.form-control(type='text' id='genre_name' placeholder='genre name...' name='name' value=(undefined===genre ? '' : genre.name))
          button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg